# Grouping And Aggregation
## Aggregation
methods will be used
- sum :adding values up.
- average (mean): calculating the central value.
- maximum: find the highest value
- minimum: find the lowest value
- count: number of items in a set245674r5t67

In [4]:
# Appregation
# let's see the info first and then aggregate the data
import pandas as pd
df = pd.read_csv('/Users/tariq_assan/T5_test/DataSets/Traffic.csv')
# print the info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5952 entries, 0 to 5951
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               5952 non-null   object
 1   Date               5952 non-null   int64
 2   Day of the week    5952 non-null   object
 3   CarCount           5952 non-null   int64
 4   BikeCount          5952 non-null   int64
 5   BusCount           5952 non-null   int64
 6   TruckCount         5952 non-null   int64
 7   Total              5952 non-null   int64
 8   Traffic Situation  5952 non-null   object
dtypes: int64(6), object(3)
memory usage: 418.6+ KB

In [6]:
# grouping the data

grouped_data = df.groupby('CarCount').agg(
    max = ('CarCount', 'max'),
    min = ('CarCount', 'min'),
    mean = ('CarCount', 'mean'),
    count = ('CarCount', 'count'),
    sum = ('CarCount', 'sum')
    )
grouped_data

          max  min   mean  count  sum
CarCount
5           5    5    5.0     80  400
6           6    6    6.0     98  588
7           7    7    7.0     84  588
8           8    8    8.0     73  584
9           9    9    9.0     68  612
...       ...  ...    ...    ...  ...
176       176  176  176.0      2  352
177       177  177  177.0      1  177
178       178  178  178.0      1  178
179       179  179  179.0      4  716
180       180  180  180.0      4  720

[173 rows x 5 columns]

In [24]:
# lest's do the pie chart
import matplotlib.pyplot as plt
total_vehicles.plot(kind='pie', figsize=(15, 15))
plt.show()

ValueError: pie requires either y column or 'subplots=True'